<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Profile</h1>
      <% include ../_message.ejs %>
    </header>

    <main>
      <ul>
        <% Object.keys(data.profile).forEach(function (e) { %>
          <li>
            <strong><%= e %></strong>:
            <% if (Object(data.profile[e]) !== data.profile[e]) { %>
              <%= data.profile[e] %>
            <% } else { %>
              <%= JSON.stringify(data.profile[e]) %>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </main>

    <footer>
      <% include ../_nav.ejs %>
    </footer>
  </body>
</html>
