<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>there is no place like Home</h1>

    <footer>
      <% include _nav.ejs %>
    </footer>
  </body>
</html>
